@charset "UTF-8";
/** @author ivanmoreno **/

@font-face{font-family:'Maven Pro';font-style:normal;font-weight:400;src:local('Maven Pro Regular'), local('MavenProRegular'), url(http://fonts.gstatic.com/s/mavenpro/v7/MG9KbUZFchDs94Tbv9U-pT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');}
@font-face{font-family:'Maven Pro';font-style:normal;font-weight:700;src:local('Maven Pro Bold'), local('MavenProBold'), url(http://fonts.gstatic.com/s/mavenpro/v7/uDssvmXgp7Nj3i336k_dSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');}

body {
	margin: 0px;
	background-color: #000;
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: none;
	font-family: 'Maven Pro', sans-serif;
}

#viewport {
	width: 100%;
	height: 100%;
	z-index: 1;
}

#wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

#toolBar {
	width: 100%;
	height: 55px;
	bottom: -50px;
	position: absolute;
	z-index: 5;
	left: 0px;
}

#toolBarBG {
	width: 100%;
	height: 50px;
	top: 5px;
	position: absolute;
	background-color: #000;
	opacity: 0.4;
}

#seekBar {
	width: 100%;
	height: 5px;
	position: absolute;
	background-color: #666;
	top: 0px;
	left: 0px;
	z-index: 6;
}

#slider {
	width: 100%;
	height: 5px;
	position: absolute;
	background-color: #ddd;
	top: 0px;
	left: 0px;
	z-index: 7;
	opacity: 0.0;
}

#buttonsContainer {
	width: 450px;
	height: 50px;
	position: absolute;
	left: 50%;
	top: 5px;
	margin-left: -225px;
	z-index: 6;
}

.buttonToolBar {
	width: 50px;
	height: 50px;
	position: absolute;
	color: #eee;
	line-height: 50px;
	text-align: center;
	z-index: 7;
	cursor: default;
}

.phrases {
	width: 60%;
	bottom: 68px;
	left: 50%;
	margin-left: -30%;
	position: absolute;
	cursor: default;
	z-index: 5;
	text-align: center;
	font-weight: 400;
	font-size: 0.9em;
	pointer-events: none;
}

.words {
	display: inline-block;
	color: #eee;
	opacity: 0.0;
	background-color: #000;
}

#toggleMenu {
	width: 50px;
	height: 50px;
	position: absolute;
	right: 0px;
	top: -50px;
}

#toggleMenu:hover {
	cursor: pointer;
}

.buttonToolBar img, #toggleMenu img {
	width: 50px;
	height: 50px;
}

#shareToolBar {
	width: 72px;
	height: 20px;
	right: 0px;
	top: 5px;
	position: absolute;
	z-index: 11;
}

.shareButton {
	width: 20px;
	height: 20px;
	z-index: 12;
	display: inline-block;
	position: absolute;
}

.shareButton:hover {
	cursor: pointer;
}

.shareButton img {
	width: 20px;
	height: 20px;
}

#loadingScreen {
	width: 100%;
	height: 100%;
	background-color: #000;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0.0;
	z-index: 10;
}

#beginButton {
	width: 0%;
	height: 50px;
	position: absolute;
	background-color: #ddd;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -110px;
	color: #000;
	line-height: 50px;
	text-align: center;
	z-index: 11;
}

#imageContainer {
	width: 400px;
	height: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -40px;
	margin-left: -200px;
	pointer-events: none;
}

#imageContainer img {
	width: 400px;
	height: 400px;
}

#title, #subtitle, #creditsText {
	width: 100%;
	position: absolute;
	top: 50%;
	color: #ddd;
	text-align: center;
	cursor: default;
}

#title {
	font-size: 3.0em;
	margin-top: -306px;
	height: 50px;
	font-weight: 700;
}

#subtitle {
	font-size: 1.5em;
	margin-top: -250px;
	height: 30px;
	font-weight: 400;
}

#creditsText {
	font-size: 0.85em;
	margin-top: -190px;
	height: 20px;
	font-weight: 400;
}

#creditsText a {
	color: #95D3F4;
	text-decoration: none;
}

#creditsText a:hover {
	color: #48B3EC;
}

#fakeLoading, #loadingText {
	width: 200px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	line-height: 50px;
	text-align: center;
	pointer-events: none;
	font-weight: 700;
	font-size: 1.5em;
}

#fakeLoading {
	margin-left: -100px;
	margin-top: -110px;
	background-color: #ddd;
	opacity: 0.2;
}

#loadingText {
	z-index: 12;
	margin-left: -100px;
	margin-top: -110px;
    color: #000;
}

#instructions {
	width: 100%;
	height: 20px;
	position: absolute;
	font-size: 0.85em;
	top: 50%;
	margin-top: -50px;
	text-align: center;
	color: #ddd;
	cursor: default;
}

#endScreen {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
	visibility: hidden;
	opacity: 0.0;
}

#replayButton {
	width: 200px;
	height: 50px;
	color: #000;
	background-color: #ddd;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: 0px;
	position: absolute;
	text-align: center;
	line-height: 50px;
	font-weight: 700;
	font-size: 1.5em;

	-webkit-transition: -webkit-box-shadow 0.2s linear;
	-o-transition: -o-box-shadow 0.2s linear;
	-moz-transition: -moz-box-shadow 0.2s linear;
	-ms-transition: -ms-box-shadow 0.2s linear;
	transition: box-shadow 0.2s linear;
}

#replayButton:hover {
	cursor: pointer;

	-webkit-box-shadow: 0 0 6px 1px #000;
	-moz-box-shadow: 0 0 6px 1px #000;
	-ms-box-shadow: 0 0 6px 1px #000;
	-o-box-shadow: 0 0 6px 1px #000;
	box-shadow: 0 0 6px 1px #000;

	-webkit-transition: -webkit-box-shadow 0.2s linear;
	-o-transition: -o-box-shadow 0.2s linear;
	-moz-transition: -moz-box-shadow 0.2s linear;
	-ms-transition: -ms-box-shadow 0.2s linear;
	transition: box-shadow 0.2s linear;
}

#titleEnd, #subtitleEnd {
	width: 100%;
	position: absolute;
	top: 50%;
	color: #ddd;
	text-align: center;
	cursor: default;
	text-shadow: 2px 2px 8px #000;
}

#titleEnd {
	font-size: 3.0em;
	margin-top: -106px;
	height: 50px;
	font-weight: 700;
}

#subtitleEnd {
	font-size: 1.5em;
	margin-top: -50px;
	height: 30px;
	font-weight: 400;
}

#chromeExp {
	position: absolute;
	left: 5px;
	bottom: 5px;
	z-index: 20;
	cursor: default;
}

#chromeExp:hover {
	cursor: pointer;
}

/* phones */

@media screen and ( max-device-width: 640px ) {

	#title {
		font-size: 2.0em;
		margin-top: -210px;
		height: 50px;
		font-weight: 700;
		text-shadow: 2px 2px 8px #000;
	}

	#subtitle {
		font-size: 1.0em;
		margin-top: -160px;
		height: 30px;
		font-weight: 400;
		text-shadow: 2px 2px 8px #000;
	}

	#creditsText {
		font-size: 0.85em;
		margin-top: -90px;
		height: 20px;
		font-weight: 400;
		text-shadow: 2px 2px 8px #000;
	}

	#instructions {
		width: 100%;
		height: 20px;
		position: absolute;
		font-size: 0.85em;
		top: 50%;
		margin-top: 60px;
		text-align: center;
		color: #ddd;
		cursor: default;
		text-shadow: 2px 2px 8px #000;
	}

	#fakeLoading {
		margin-left: -100px;
		margin-top: -20px;
		background-color: #ddd;
		opacity: 0.2;
	}

	#loadingText {
		z-index: 12;
		margin-left: -100px;
		margin-top: -20px;
	    color: #000;
	}

	#titleEnd {
		font-size: 2.0em;
		margin-top: -106px;
		height: 50px;
		font-weight: 700;
	}

	#subtitleEnd {
		font-size: 1.0em;
		margin-top: -50px;
		height: 30px;
		font-weight: 400;
	}

	#beginButton {
		width: 0%;
		height: 50px;
		position: absolute;
		background-color: #ddd;
		top: 50%;
		left: 50%;
		margin-left: -100px;
		margin-top: -20px;
		color: #000;
		line-height: 50px;
		text-align: center;
		z-index: 11;
	}

}

/*  tablets */
/*
@media screen and ( min-device-width: 570px ) and ( max-device-width: 1024px ) {

	#toolBar {
		width: 100%;
		height: 57px;
		bottom: -50px;
		position: absolute;
		z-index: 10;
		left: 0px;
	}

}
*/






































/*	border-style: solid;
    border-width: 2px;
    border-color: #ddd;
*/